:root {
    --primary-color: #ffffff;
    --secondary-color:#1f1f1f;
    --tertiary-color:#2e2e2e;
    --quaternary-color: rgb(69, 55, 128);;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    color: var(--primary-color);
}

body {
    width: 100vh;
    height: 100vh;
    background: var(--secondary-color);
}

section {
    gap: 1rem;
    display: flex;
    flex-direction: column;
}

form {
    gap: 1rem;
    display: flex;
    flex-direction: column;

    width: 100%;
    max-width: 400px;

    padding: 1rem;
    border-radius: 10px;
    background: #2e2e2e;

    border: 3px solid rgb(69, 55, 128);
}

input, textarea, select{
    background-color:var(--tertiary-color);
    border: 2px solid var(--quaternary-color);

}


.btn {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0.5rem;


    background: rgb(69, 55, 128);

    border: none;
    border-radius: 20px;

    cursor: pointer;
}
.form-group {
    gap: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

div
{
    border: 3px solid rgb(69, 55, 128);
    padding: 5px;
    display: flex;
    align-items: center;
    border-radius: 5px;
}

.form-group div label {
    width: 150px; 

}
